<div class="alert alert-{{ ctrl.msg.type }}" role="alert" ng-show="ctrl.alert">
  <i class="icon {{ctrl.msg.icon}}"></i> {{ ctrl.msg.text }}
</div>


<div class="card">
  <div class="card-heading">
    <div>
      <h2><i class="icon mdi-action-lock i-20"></i>Defina uma nova senha de acesso</h2>
      <small>Lembre-se de escolher uma senha segura e não divulgar para terceiros.</small>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card-body lt">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email de acesso</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="ctrl.user.email" placeholder="Enter email" disabled>
            <small id="emailHelp" class="form-text text-muted">O email de acesso não pode ser alterado no momento.</small>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Senha atual</label>
            <input type="password" class="form-control" id="exampleInputPassword1" ng-model="ctrl.user.password" placeholder="Senha atual">
          </div>

          <md-divider></md-divider>
          <br/>

          <div class="form-group">
            <label for="exampleInputPassword1">Nova senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" ng-model="ctrl.user.newPassword" placeholder="Nova senha">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Confirmar nova senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" ng-model="ctrl.user.confirmPassword" placeholder="Confirmar nova senha">
          </div>
          <button type="submit" class="btn btn-primary" ng-click="ctrl.alterPassword()">Alterar senha</button>
        </form>
      </div>
    </div>
  </div>
</div>
