<div class="alert alert-warning" role="alert">
  This is a warning alert—check it out!
</div>


<div class="card">
  <div class="card-heading">
    <div>
      <h2><i class="icon mdi-action-account-circle i-20"></i> Atualize suas informações</h2>
      <small>E mantenha seus dados atualizados.</small>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card-body lt">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Empresa</label>
            <input type="text" class="form-control" id="exampleInputEmail1" ng-model="ctrl.user.company">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Responsável</label>
            <input type="text" class="form-control" id="exampleInputEmail1" ng-model="ctrl.user.responsible">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Cidade</label>
            <input type="text" class="form-control" id="exampleInputEmail1" ng-model="ctrl.user.city.name">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Estado</label>
            <input type="text" class="form-control" id="exampleInputEmail1" ng-model="ctrl.user.city.UF">
          </div>

          <md-radio-group ng-model="ctrl.user.termsOfUse">
            <md-radio-button value="true" class="md-primary">Aceito</md-radio-button>
            <md-radio-button value="false" class="md-primary">Não aceito</md-radio-button>
          </md-radio-group>

          <button type="submit" class="btn btn-primary">Alterar dados</button>
        </form>
      </div>
    </div>
  </div>
</div>
